<configuration>
	<connectionStrings>
		<add name="MyDatabaseConnectionString"
			 connectionString="Server=tcp:tyk.database.windows.net,1433;Initial Catalog=tyk;Persist Security Info=False;User ID=sqladmin;Password=123Muhammed.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>